/*GLOBALES*/
body{
    font-family: 'Monserrat', sans-serif;
    overflow-x: hidden;
}

/*MENU*/

.nav li > a{
    font-size: 18px;
    font-weight: bold;
    color: #3f3f3f;
}
.nav form > button{
    font-size: 18px;
    font-weight: bold;
}

/*SLIDER DE IMAGENES*/

.carrousel-inner{
    max-height: 39rem;
}

.mapa{
    background: url(../img/foto-sis/mapa.jpg);
    width: 100%;
    height: 500px;
}

/*MEDIA PANTALLA ANCHA*/
@media (max-width: 768px) {
    
    .intro, .equipo{
        width: 90% !important;
    }
    .equipo p{
        display: none;
    }
    .servicio-fila{
        width: 100%  !important;
        text-align: center;
    }
}

/*PANTALLAS MEDIANAS*/

@media (max-width:  576px){

    .icono-wrap{
        flex-wrap: wrap;
        justify-content: center;
    }
}

